<!DOCTYPE html>
<html>
  <head>
    <title>Wallete Web Notification</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #4a4a4a;
        background-color: #f0f4f9;
        padding: 20px;
      }
      .email-container {
        max-width: 600px;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        border-top: 4px solid #0b0c0c;
      }
      a,
      a:visited {
        color: #006998;
        text-decoration: none;
      }
      a:hover,
      a:active {
        text-decoration: underline;
      }
      .header {
        background-color: #0b0c0c;
        color: #fff;
        padding: 10px;
        border-radius: 4px 4px 0 0;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
      }
      .footer {
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
        color: #909090;
      }
      .button {
        display: inline-block;
        background-color: #0b0c0c;
        color: white !important;
        padding: 10px 20px;
        border-radius: 4px;
        margin: 20px 0;
        text-align: center;
        text-decoration: none;
      }
    </style>
  </head>
  <body style="background-color: #f0f4f9">
    <br /><br />
    <div class="email-container">
      <div class="header">Notification from Wallete</div>
      <h4>Hello, <%= firstname %>!</h4>
      <p>
        We noticed that your spending has exceeded your set limit.
      </p>
     
      <p>
        If you have any questions or need assistance, please do not hesitate to
        <a href="mailto:support@yourdomain.com">contact us</a>.
      </p>
      <p>Warm regards,<br />Wallete Web Team</p>
      <div class="footer">
        This is an automated message, please do not reply. <br />
        For more information, visit our
        <a target="_blank" href="">website</a>.
      </div>
    </div>
  </body>
</html>
